* {
  margin: 0;
  padding: 0%;
  
}

body {
  color: black;
  width: 100%;
  display: flex;
  min-height: 100vh;
  margin:0;
  padding: 0; 
}




a {
  text-decoration: none;

}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
   
}

video {
  width: 100%;
  object-fit: cover;
  position: absolute;
  height: 100%;
  z-index: -10;
}

section
header {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 1rem;
  top: 0.4rem;
  /*background-color: #d2d6df;*/
  border-radius:1rem;
  z-index: 10;
  
}
section img {
  display: flex;
  flex-direction: column;
  top:5px;
  width:10.6rem;
  height: 5.6rem;   
}





.icons li {
  
  font-size: 2rem;
  display: inline-block;
  transition: transform 0.5s ease-in, opacity 0.7s;
  width: 100%;
  text-align: left;
  
}

#happy {
  font-weight: 600;
}

#name {
  margin-top: 2rem;
  font-weight: 600;
  z-index: 10;
  animation: flicker 4.5s infinite alternate;
  
}
   


@media (min-width: 291px) and (max-width: 354px) {
  .video video {
    width: 85%;
    height: 30vh;
  }

  div p {
    display: grid;
    font-weight: 100;
    font-size: 0.6rem;  
  }

  .shortnote{
    bottom:5rem;
    
  }
}

@media (max-width: 290px) {
  .video video {
    display: none;
  }

  .icons li {
    font-size: 0.5rem;
  }

  .shortnote{
    bottom: 8rem;
    font-size: 0.2rem;
    text-align: left;
    box-sizing: border-box;
  }

    div p li {
    
    font-size: 0.5rem;
    font-weight: 700;
  } 

  div p {
    display: grid;
    font-weight: 100;
    font-size: 0.5rem;  
  }

  section img {
    width:2.6rem;
    height: 1.6rem;   
  }
}