{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>List Of Our Customers</title>
        <link rel="stylesheet" href="{% static 'birthday_wishes/css/style.css' %}">
    </head>
    <body>

        <section>
            <header>
                <img src="{% static 'birthday_wishes/images/rosabon_logo.png' %}" alt="">
            </header>
            <video class="background_video" src= "{% static 'birthday_wishes/images/balloons_day.mp4' %}" muted loop autoplay ></video>
            <div class='message' id="name">
            {% for c in all_groups %}
                <ul class="icons">
                    <li>
                        <a href="">{{ c.group_partner }}</a>
                    </li>
                </ul> 
            {% endfor %}
            </div>
            <div class='message' id="name">
            {% for c in all_customers %}
                <ul class="icons">
                    <li>
                        <a href="{{ c.get_absolute_url }}" target='_blank'>{{ c.name }}</a>
                    </li>
                </ul> 
            {% endfor %}
            </div>
        </section>
        
    </body>
</html>