{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Not ! {{ customer.name }}</title>
    <link rel="stylesheet" href="{% static 'birthday_wishes/css/styles.css' %}">
    <!--link rel="stylesheet" media="screen and (min-width: 700px)" href="/css/largescreen.css">
    <link rel="stylesheet" media="screen and (max-width: 350px)" href="css/stylesheet.css">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="css/smallscreen.css"-->
</head>
<body>
   <section>
        <header class="logo">
            <a href="https://rosabon-finance.com/">
                <img src="{% static 'birthday_wishes/images/rosabon_logo.png' %}" alt="">
            </a>
        </header>
        {% if customer.gender == "Male" %}
        <video src="{% static 'birthday_wishes/images/balloons_day.mp4' %}" muted loop autoplay ></video>
        {% elif customer.gender == "Female" %}
        <video src="{% static 'birthday_wishes/images/heartballoon.mp4' %}" muted loop autoplay ></video>
        {% endif %}
        <!--div class="overlay"></div-->
        <div class="message content">
            {% block content %}
            <div class="icons">
                <span class="row" id="happy">
                    Happy Birthday in Arrears !!!
                </span>
            </div>
            
            <div class="icons">
                {% if customer.gender == "Female" %}
                <span class="row" id="name">
                    Mrs {{ customer.name }}
                </span>
                {% elif customer.gender == "Male" %}
                <span class="row" id="name">
                    Mr {{ customer.name }}
                </span>
                {% endif %}
                <div class="video">
                    <video src="{% static 'birthday_wishes/images/blue_balloon.mov' %}" muted loop autoplay></video>
                </div>
                <div>
                    <p class="shortnote"> On the {{ customer.date_of_birth|date:"d, M" }}, the earth was blessed with your arrival, Thank you for your service to our country. <br> God Bless Your New Age</p>
                    <p class="hurray">Hip Hip Hip..... <span>HURRAY!!!</span></p>
                </div>
            </div>
            {% endblock %}
            
        </div>
        
   </section>
   <script type="text/javascript">
        var x = document.getElementById("name").innerText;
        var y = 90
        console.log(x)
    </script> 
</body>
</html>